[submodule "docs"]
	path = docs
	url = git@github.com:CPCReady/docs.git
[submodule "Installer/homebrew-cpcready"]
	path = Installer/homebrew-cpcready
	url = git@github.com:CPCReady/homebrew-cpcready.git
